@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700;800&family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Обязательно: */
* {
    margin: 0;
    padding: 0;
}
/* eeeeeeeeeeee */

/*Цвет БГраунда*/
body {
    background: #E7EAEF;
    height: 2000px;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}
/*              */

/* Вверхняя часть */
#nothing {
  width: 100%;
  height: 70px;
  text-align: left;
  line-height: 70px;
  margin-bottom: 10px;
  float: left;
}

header {
    width: 100%;
    height: 70px;
    text-align: left;
    border-bottom: 2px solid bbb;
    background: #292933;
    color:#eeeeee;
    line-height: 70px;
    margin-bottom: 10px;
    float: left;
    position: fixed;
    z-index: 100;
}

.icon {
    margin-top: 5px;
    width: 225px;
    
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.obol {
    transition: all .4s ease;
}

.lepe {
    transition: all .4s ease;
}

.icon:hover .obol {
    fill: #37745B;
}

.icon:hover .lepe {
    fill: #8B9D77;
}
/* ---------------- */

/* Кнопки */
.icons {
    list-style: none;
    margin-top: 12px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    float: right;
    display: inline;
    
    fill:white;
    stroke:white;
    stroke-width:white;

    transition: all .4s ease;
}

.icons:hover {
    fill:#adc178;
}

/*           */

/* Главная часть */
main {
   width: 50%;
   margin-left: 10%;
   background: #292933;
   border: 1px solid silver;
   padding: 20px 2.5%;
   float: left;
   z-index: 1;
}

/* Боковая часть */
aside {
    width: 20%;
    padding: 20px 2.5%;
    background: #292933;
    border: 1px solid #dad7cd;
    margin-left: 5%;
    border-radius: 10px;
    position: relative;
    bottom: -10px;
    left: -100px;
    float: left;
    z-index: 0;
}

/* Футер */
footer {
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 2px solid bbb;
    background: #292933;
    color:#eeeeee;
    line-height: 70px;
    margin-top: 30px;
    float: left;
}
